<!-- add 'footer' snippet in css -->
<div class="footer-v1 bg-img" style="color: rgb(255, 255, 255);">
  <div class="footer no-margin">
    <div class="container">
      <div class="row">
        <div >
          <img src="/assets/dist/img/CLP-LOGO.png" alt="Logo" style="border: 2px solid rgb(255, 255, 255);">
        </div>
        <div class="col-md-3">
          <div class="headline"><p>Support</p></div>
          <address>
            <ul class="list-unstyled link-list">
              <li><a href="#" style="color: rgb(255, 255, 255);">Contact Us</a></li>
              <li>
                <a href="#" style="color: rgb(255, 255, 255);"><i class="fa fa-envelope"></i>support@company.com</a>
              </li>
            </ul>
          </address>
        </div>
        <div class="col-md-3">
          <div class="headline"><p>Company</p></div>
          <ul class="list-unstyled link-list">
            <li><a href="#" style="color: rgb(255, 255, 255);">About Us</a></li>
            <li><a href="#" style="color: rgb(255, 255, 255);">Privacy Policy</a></li>
            <li><a href="#" style="color: rgb(255, 255, 255);">Terms of Use</a></li>
            <li><a href="#" style="color: rgb(255, 255, 255);">FAQs</a></li>
            <li><a href="#" style="color: rgb(255, 255, 255);">Cancellation/Rescheduling policy</a></li>
          </ul>
        </div>
        <div >
          <img src="/assets/dist/img/HF-2-logo-01.png" alt="Logo">
        </div>
      </div>
      
    </div>
  </div>
</div>