<!-- add 'footer' snippet in css -->
<div class="footer-v1 bg-img" style="color: rgb(255, 255, 255); font-size: 12px;">
  <div class="footer no-margin">
    <div class="container">
      <div class="row">
        <div>
          <img class="img" src="/assets/dist/img/CLP-LOGO.png" alt="Logo" style="border: 2px solid rgb(255, 255, 255); " >
        </div>
        <div >
          <img class="img" src="/assets/dist/img/HF-2-logo-01.png" alt="Logo" style="margin-left: 30px;">
        </div>
        <div class="col-md-3">
          <div class="headline"><p>Support</p></div>
          <address>
            <ul class="list-unstyled link-list">
              <li><a href="#" style="color: rgb(255, 255, 255);">Contact Us</a></li>
              <li>
                <a href="#" style="color: rgb(255, 255, 255);"><i class="fa fa-envelope"></i>Test@company.com</a>
              </li>
            </ul>
          </address>
        </div>
        <div class="col-md-3">
          <div class="headline"><p>Company</p></div>
          <ul class="list-unstyled link-list">
            <li><a href="#" style="color: rgb(255, 255, 255);">Home</a></li>
            <li><a href="#" style="color: rgb(255, 255, 255);">Shop</a></li>
            <li><a href="#" style="color: rgb(255, 255, 255);">Shop Detail</a></li>
            <li><a href="#" style="color: rgb(255, 255, 255);">Shopping Cart</a></li>
            <li><a href="#" style="color: rgb(255, 255, 255);">Check Out</a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>