<!-- Topbar Start -->
<div class="container-fluid">
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a routerLink="/home" class="text-decoration-none">
                <img src="/assets/dist/img/CLP-LOGO.png" alt="Logo" style="border: 2px solid rgb(255, 255, 255);">
            </a>
        </div>
        <div class="col-lg-6 col-6 text-left" >
            <form action="">
                <div class="input-group" style="border: 1.5px solid rgb(146, 145, 145);">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <div class="input-group-append"  style="background-color: rgb(255, 211, 13);">
                        <span class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-6 text-right">
            <a routerLink="/shopping-follow" class="btn border">
                <i class="fas fa-heart" style="color: rgb(255, 211, 13);"></i>
                <span class="badge">0</span>
            </a>
            <a routerLink="/shopping-cart" class="btn border">
                <i class="fas fa-shopping-cart" style="color: rgb(255, 211, 13);"></i>
                <span class="badge">0</span>
            </a>
        </div>
    </div>
</div>
<!-- Topbar End -->

