<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Follow Up</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/home">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Follow Up</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Cart Start -->
<div class="container-fluid pt-5">
    <div class="row justify-content-center px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Add</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr>
                        <td class="align-middle"><img src="https://img.icarcdn.com/autospinn/body/000000881562_d9faa514_1d40_4000_9a36_5246cd47d0b4.jpg" alt="" style="width: 50px;"> HONDA #71125TEAT01 คิ้วหน้ากระจังนอก-ชุบ  CIVIC  ปี2016-2017 ของแท้ เบิกศูนย์</td>
                        <td class="align-middle">$150</td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-minus" >
                                    <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm bg-secondary text-center" value="1">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">$150</td>
                        <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fas fa-shopping-cart"></i></button></td>
                    </tr>
                    <tr>
                        <td class="align-middle"><img src="https://img.icarcdn.com/autospinn/body/000000881562_d9faa514_1d40_4000_9a36_5246cd47d0b4.jpg" alt="" style="width: 50px;"> HONDA #71125TEAT01 คิ้วหน้ากระจังนอก-ชุบ  CIVIC  ปี2016-2017 ของแท้ เบิกศูนย์</td>
                        <td class="align-middle">$150</td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-minus" >
                                    <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm bg-secondary text-center" value="1">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">$150</td>
                        <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fas fa-shopping-cart"></i></button></td>
                    </tr>
                    <tr>
                        <td class="align-middle"><img src="https://img.icarcdn.com/autospinn/body/000000881562_d9faa514_1d40_4000_9a36_5246cd47d0b4.jpg" alt="" style="width: 50px;"> HONDA #71125TEAT01 คิ้วหน้ากระจังนอก-ชุบ  CIVIC  ปี2016-2017 ของแท้ เบิกศูนย์</td>
                        <td class="align-middle">$150</td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-minus" >
                                    <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm bg-secondary text-center" value="1">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">$150</td>
                        <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fas fa-shopping-cart"></i></button></td>
                    </tr>
                    <tr>
                        <td class="align-middle"><img src="https://img.icarcdn.com/autospinn/body/000000881562_d9faa514_1d40_4000_9a36_5246cd47d0b4.jpg" alt="" style="width: 50px;"> HONDA #71125TEAT01 คิ้วหน้ากระจังนอก-ชุบ  CIVIC  ปี2016-2017 ของแท้ เบิกศูนย์</td>
                        <td class="align-middle">$150</td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-minus" >
                                    <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm bg-secondary text-center" value="1">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">$150</td>
                        <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fas fa-shopping-cart"></i></button></td>
                    </tr>
                    <tr>
                        <td class="align-middle"><img src="https://img.icarcdn.com/autospinn/body/000000881562_d9faa514_1d40_4000_9a36_5246cd47d0b4.jpg" alt="" style="width: 50px;"> HONDA #71125TEAT01 คิ้วหน้ากระจังนอก-ชุบ  CIVIC  ปี2016-2017 ของแท้ เบิกศูนย์</td>
                        <td class="align-middle">$150</td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-minus" >
                                    <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm bg-secondary text-center" value="1">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">$150</td>
                        <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fas fa-shopping-cart"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
<!-- Cart End -->